.output-wrapper {
  background-color: #ccca8f;
  padding: 10px;
  /* margin-bottom: 10px; */
}

.output-legend {
  margin-bottom: 10px;
  display: flex;
}

.output-legend > p {
  font-weight: 800;
}

.output-legend-item-1 {
  width: 50%;
}

.output-legend-item-2 {
  width: 20%;
}

.output-legend-item-3 {
  width: 20%;
}

.output-legend-item-4 {
  width: 10%;
}

.output-result {
  display: flex;
  background-color: #faf8be;
  margin-bottom: 5px;
}

.output-result-item-1 {
  width: 50%;
  margin-left: 5px;
}

.output-result-item-2 {
  width: 20%;
  margin-left: 5px;
}

.output-result-item-3 {
  width: 20%;
  margin-left: 5px;
}

.output-result-item-4 {
  width: 10%;
  margin-left: 5px;
}
