.app-wrapper {
  margin: 0 auto;
  max-width: 800px;
  background-color: #faf8be;
  padding: 10px 10px 10px 10px;
}

.title-wrapper {
  background-color: #ccca8f;
  padding: 10px;
  margin-bottom: 10px;
}

.title-image-wrapper {
  margin: 30px 0 10px 0;
  text-align: center;
}

.title-image-wrapper > img {
  width: 100px;
}

.title-image {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
