body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 18px;
}

p {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: grey;
}
